<svg viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"{{ with .width }} width="{{ . }}"{{ end }}{{ with .height }} height="{{ . }}"{{ end }}>
    <rect x="5" y="5" width="90" height="90" rx="15" fill="#10b981"/>
    <g stroke="white" stroke-width="4" fill="none">
        <rect x="20" y="20" width="60" height="60" rx="4"/>
        <rect x="35" y="35" width="30" height="30" rx="3"/>
        <line x1="20" y1="20" x2="35" y2="35"/>
        <line x1="80" y1="20" x2="65" y2="35"/>
        <line x1="20" y1="80" x2="35" y2="65"/>
        <line x1="80" y1="80" x2="65" y2="65"/>
    </g>
</svg>
